.card {
    color: var(--paragraph-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    flex-basis: 100%;
    min-height: 140px;
    max-height: 320px;
    margin: 0.5rem 0;
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.icon-style {
    margin-top: 1.5rem;
    color: var(--mutual-color);
    font-size: 24px;
}
.card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.card h2 {
    color: var(--mutual-color);
}
.card h2,
p {
    padding: 10px 0;
}
.card p {
    text-align: center;
}
/* small  */

@media (min-width: 576px) {
    .card {
        flex-grow: 1;
        flex-basis: 40%;
        margin: 1rem 1rem 1rem 0;
    }
}
/* medium  */

@media (min-width: 768px) {
    .card {
        min-height: 200px;
        max-height: 320px;
        flex-grow: 1;
        flex-basis: 40%;
        margin: 1rem 1rem 1rem 0;
    }
}

/* x-large  */
@media (min-width: 1200px) {
    .card {
        min-height: 180px;
        max-height: 320px;
        flex-basis: 20%;
        flex-grow: 1;
        margin: -2rem 0.2rem 3rem 0rem;
        opacity: 1;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
}
