@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap');

.wrapper {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    font-family: 'Public Sans', sans-serif;
    color: #71808c;
    border-radius: 0.5rem;
}

.navbar {
    height: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: calc(0.8rem + 1vmin);
}
.navbar-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    font-size: calc(0.4rem + 1vmin);
    list-style: none;
    color: #71808c;
}

.navbar-items li {
    padding-left: 0rem;
    margin-left: 2rem;
}

.logo {
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    max-height: 100%;
}
