.wrapper {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  font-family: "Public Sans", sans-serif;
  color: #71808c;
  border-radius: 0.5rem;
  width: 100%;
  height: 14vh;
  padding: 1rem;
}

.navbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(0.8rem + 1vmin);
}
.navbar-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  font-size: calc(0.4rem + 1vmin);
  list-style: none;
  color: #71808c;
  transition: all 0.2s ease;
}

.navbar-items li {
  padding-left: 0rem;
  margin-left: 2rem;
}
.navbar-items li a:hover {
  color: #bed700;
}

/* .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 100%;
} */

image {
  height: 100%;
}
